@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:wght@400;600&family=EB+Garamond:wght@700&family=Lora:ital@1&family=Nanum+Myeongjo:wght@400;700;800&family=Poppins:ital,wght@0,300;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration:none;
    font-family: 'Poppins' , sans-serif;
}
/*Variables*/
:root{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;
    --bg-box: #c6c4c462;
}
/*header starts*/
.container-fluid{
    display:block;
    width:100%;
    height: 130px;
    background: var(--second-color);
    position: fixed;
    top:-35px;
    left:0;
    z-index:100;
    box-shadow: 5px 5px 15px -1px #808080;
}

.navbar{
    
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    display:flex; 
}

.navbar a {
    padding: 8px 15px;
    color: var(--bg-color);
    font-size:1.3rem;
    text-transform:uppercase;
    text-decoration: none;
    margin: 0 20px;
  
 
    
}
.navbar-toggler-icon{
    background-color: var(--bg-color);
}
.img_log{
    width: 190px;
    height: 115px;
    margin-left: -30px;
    transform: none;

}
.navbar a:hover{
    transform: scale(1.1); 
    transition:0.2s;
    color: var(--main-color);
      
}
#header_admin{
    background-color: var(--second-color);
    height:120px;
}
.button_pro{
    background-color: var(--main-color); 
    border-radius: 20px;
    margin-top: 20px;
}
.button_pro:hover{
    transform: scale(1.1);  
}
.nav-item4 a:hover{
    color:var(--bg-color);
}
.offcanvas-body ,.offcanvas-header{
    background-color: var(--second-color);
}
.button{
    margin-right: 20px;
    padding: 8px 25px;
    background-color:var(--main-color);
    color:var(--bg-color);
    border-radius: 5rem;
    font-size: 1.3rem;
   text-decoration: none;
}
.button:hover{
   transform:scale(1.1);
    transition: 0.2s;
    color: var(--bg-color);
}
.espace_pro{
    margin-left: 100px;
}

/* header ends */
/* home starts */
.home{
    margin-top:6rem;
}
h2{
    margin-left: 8rem;
     text-align: center;
     color:var(--main-color);
     font-size: 2rem;
     background-color: var(--bg-box);
     display:block;
     width:80%;
 }
/* home ends */
/* section services starts */
h1{
    color: var(--main-color);
}
.vehicules{
    color: red;
}

.container_service{
  display:flex;
  flex-wrap: wrap;
}
.card{
   
    margin-left: 50px;
    box-shadow: 5px 5px 10px -1px #808080;
    gap:10px;
    width: 400px;
    height:500px;
    margin-top: 40px;
  
}

.card-img-top{
    width:400px;
    height:200px;
}

.card:hover{
    background-color: var(--bg-box);
}
/* section services ends */
/* registre_page starts */
.form-container{
   height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:20px; 
    background: #eee; 
   
}
.form-container form{
   padding: 20px;
   border-radius:5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background:white;
   text-align:center;
   width:500px;
}
.form-container form input,
.form-container textarea,
.form-container form select{
    width:100%;
    padding:10px 15px;
    font-size:20px;
    margin:8px 0;
    background: #eee;
}
.form-container form select option{
    background: white;
   
}
.form-btn{
    background-color: blue;
    
}
.form-container form a {
    text-decoration: none;
}
.error-msg{
    color:white;
    margin:10px 0;
    display: block;
    background-color:var(--main-color);
    font-size: 20px;
}
.btn-button{
    padding: 12px 35px;
    background: var(--second-color);
    color:var(--bg-color);
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-left:45.5%;

}
.btn-buton{
    padding: 12px 35px;
    background: var(--second-color);
    color:var(--bg-color);
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    margin-left:39%;
}
.btn_button{
    padding: 10px 30px;
    background: var(--second-color);
    color:var(--bg-color);
    font-size: 1.2rem;
    border-radius: 5px;
   
}
.btn_button:hover{
    transform: scale(1.1);
}
.btn-back{
    padding: 10px 30px;
    background: var(--second-color);
    color:var(--bg-color);
    font-size: 1.2rem;
    border-radius: 5px; 
}
.btn-button:hover{
   color:var(--bg-color);
   background-color: var(--main-color);
}
/* registre_page ends */
/* vehicules page starts */

.js-filter-form{
background-color: var(--bg-box);

}
.kilométrage, .Années{
    margin-bottom: 20px;

}
#title_vehicules{
    font-size: 1.2rem;
}
 h3{
    text-align: center;
    background-color:var(--second-color);
    color:white;
    width: 100%;
  
}
.js-filter-form h3{
    color: var(--bg-color);  
}
.js-filter-form p{
    padding: 0 10px;
    font-size: 0.7rem;
   
}
.field{
    padding: 0 20px;
  
}
.field input{
 
    text-align: center;
    -moz-appearance:textfield;
   
}

  

.slider{
    height: 7px;
    background-color: var(--bg-color);
    position: relative; 
    width: 90%;
    margin:0 20px;
    border-radius: 5px;
   
}
.slider .progress{
    background-color: var(--main-color);
    margin:0 20px;
    height: 7px;
    left:1%;
    right:1%;
    position:absolute
}
.range-input{
    position: relative;
}
.range-input input{
    position:absolute;
    top:-7px;
    height:5px;
    width:100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}
input[type="range"]::-webkit-slider-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: var(--main-color);
}
input[type="range"]::-moz-range-thumb{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: var(--main-color);
}
.form-container{
    width: 100%;
    height:100%;
    background-color: var(--bg-color);
    margin-top: 10px;
}
#Contact h3{
    color:var(--bg-color);
}
.car_titre{
    font-size: 1.7rem;
}
.btn.car{
    font-size: 1.6rem; 
}
.js-filter-content{
    display:flex;
}
.card-deck{
    display:grid;
    
}
.card-deck .card{
   margin-bottom:20px;
 
}
.btn-buton:hover{
    background-color: var(--main-color);
}
.list-group h3{
    color:var(--bg-color);
}
.filtre_car .row{
    margin-top:2rem;
}
/* vehicules page ends */
/* footer starts */
footer{
    background-color:var(--second-color);
    height: 300px;
    margin-top:5.5rem;
    color:var(--bg-color);
}
.contact-infos{
    margin: 0 20px;
}
footer h5{
    color:var(--main-color);
    margin-left: 10%;
}
footer .reviews-section{
    margin-top: -60px;
    margin-left: -10%;
}
footer .horaires-section{
    margin-top: 30px;
}
footer .footer{
    margin-left:23%;
    margin-top:30px;
}
span.jours{
    color:var(--main-color);
}
span.jours_car{
    color:var(--second-color);
    font-size: 1.5rem;
}
span.matin,.apres_midi{
    color: var(--main-color);
    font-size: 1.5rem;
}
.footer_car{
    background-color: var(--bg-color);
    margin-top: 30px;
}
.footer_car{
    font-size:2rem; 
    height: 350px;
}
.footer_titre{
    color: var(--second-color);
}
.copyright{
    color: var(--main-color);
}
.contact-infos_car h5{
    font-size:2rem;
}

.reviews-section_car h5{
    font-size:2rem;
    margin-top:-60px;
    margin-left:-30px;
}
.reviews-section_car .btn{
    font-size:2rem;
    margin-left:25px;
}
.contact-infos_car{
    font-size: 1.5rem;
    margin-left: 40px;
    margin-top:-10%;
}

.horaires-section_car h5{
    font-size:2rem; 
    margin-top:70px;
}
/* footer ends */
/*------ Panel admin starts------ */
.dashboard-title{
    margin-top:10rem;
    margin-left: 8rem;
    text-align: center;
    color:var(--main-color);
    font-size: 2rem;
    background-color: var(--bg-box);
    display:block;
    width:80%;
}
.image_admin{
   margin-left: 32%;
}
.panel{
    margin-top:10rem;
}

.back_reviews{
    margin-top: 30px;
    margin-left:46.5%;
}
.back_reviews:hover{
    transform: scale(1.1);
}
.btn-primary:hover{
    transform: scale(1.1);
}
.horaires_site{
    margin-left: 35%;
    background-color:var(--bg-box);
    width: 500px;
    padding: 20px;
    margin-top: 30px;
}
#update_horaires{
    margin-left: 40px;
    justify-content: center;
}
/* -----------------Reviews starts------------ */
.container_reviews{
    width:80%;
    margin-left:15%; 
    margin-top: 40px; 
    
  
}
.liste_avis{
    background-color: var(--second-color);
}
.container_reviews .card{
    margin-top:20px;
    width:77%;
    height: 400px;
   
}
.card_reviews{
    margin-left: 40px;
    box-shadow: 5px 5px 10px -1px #808080;
    gap:10px;
    width: 600px;
    height:300px;
    margin-top: 40px; 
}
.titre_avis{
    color:var(--bg-color);
    font-size: 1.5rem;
    margin-left: 20px;
}
.container_reviews .card:hover{
    background-color: white;
}
.avis{
    color: var(--main-color);
}
.container_reviews h3{
   margin-left:33px;
    width:80%; 
    color:var(--bg-color);
    background-color: var(--main-color);
}
.container_reviews .form-group{
    width: 80%;
    margin-left: 6rem;
}
.submit_star:hover{
    transform: scale(1.1);
}
.container_user{
    margin-top: 2rem;
}
.container-reviews .card{
    height:200px;
    width:80%;
    margin-left: 8rem;
}

/* -----------------Reviews ENDS------------ */
/* ------------------ liste-employés starts------------- */
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
    margin-left: 8rem;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    text-align: center;
  }
  .td_image{
    width: 300px;
  }

  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #FFFFFF;
  }
  table.blueTable thead {
    background: #289CE8;
    background: -moz-linear-gradient(top, #5eb5ee 0%, #3da6ea 66%, #289CE8 100%);
    background: -webkit-linear-gradient(top, #5eb5ee 0%, #3da6ea 66%, #289CE8 100%);
    background: linear-gradient(to bottom, #5eb5ee 0%, #3da6ea 66%, #289CE8 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
   

  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 66%, #FFFFFF 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }

li{
    list-style: none;
}
.content_employés{
    background-color: var(--second-color);
    color:var(--bg-color);
    justify-content: space-between;
    display:flex;
    height: 70px;
}
.titre_empl{
   font-size: 1.5rem;
   margin-left: 20px;
}

/* ------------------liste-employés ends------------- */
/* --------------- service_admin starts------ */
.container_header{
    background-color: var(--second-color);
    color: var(--bg-color);
    justify-content: space-between;
    display: flex;
    
}

.content_header{
    align-items: center;
   
}
.content_header p{
    font-size: 1.5rem;
}
/* --------------- service_admin ends------ */
/* section véhicules starts*/
.card_car{
    margin-left: 50px;
    box-shadow: 5px 5px 10px -1px #808080;
    gap:10px;
    width: 400px;
    height:400px;
    margin-top: 40px;
}
.image_car{
width: 300px;
}
.filtre_car .row {
    margin-top: 2rem;
    width: 100%;
    
}
.list-group{
    margin-left: 20%;
}
.card-title_service{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.card-title1{
    background-color: var(--main-color);
    color: var(--bg-color);
    font-size: 2rem;
}
.card-text1{
    font-size: 1.5rem;  
    margin: 10px 0;
    
}
.btn{
    font-size: 1rem;
}
#prix_show,#kilometrage_show,#année_show{
    font-size: 1.5rem;
    text-align: center;
}
/* section véhicules ends */
/* loader page starts */
.preloader{
  position: fixed;  
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader .loader{
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
}
.preloader .loader::before{
    content: '';
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-color: white #2288ff white #2288ff;
    position: absolute;
    border-radius: 50%;
    animation: loader 1s infinite ease-in-out;
}
@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    } 
}
/* loader page ends */
/* détailles_car starts */
#carouselExampleIndicators{
    width: 50%;
    height: 350px;
    margin-left: 25%;
    margin-top: 5%;
    box-shadow: 5px 5px 10px -1px #808080;
}
.container_fil{
    width: 100%;
    background-color: var(--bg-box);
    height: 350px;
}
.filtre_col{
    display:inline; 
    margin-left: 40%;
    justify-content: space-between;  
}

.filtre_title{
    color: var(--bg-color);
}
.d-block{
    height: 350px;
}
.table_car{
    margin-top: 10px;
}
table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 95%;
    text-align: left;
  }
  table.blueTable td, table.blueTable th {
    border: 7px solid #FFFFFF;
   
  }

  table.blueTable thead {
    background:var(--main-color);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
  }
/* détailles_car starts */
/*==============Media queries ===================*/
@media screen and (max-width:576px){
 .navbar-toggler-icon{
    margin-right: 30px;
 }
 .img_log{
    margin-left: -60px;
 }
 
 .service_section h2{
    margin-left: 10%;
 }
 .service_section .row{
    margin-left: -15%;
    padding: 10px;
 }
 .section_avis h2{
    margin-left: 10%;
 }
 .button{
    text-align: center;
    width: 50%;
    margin-left:25%;
 }
 .section_avis .card{
    width: auto;
    margin-left: -10%;
    margin: 10px;
 }
 footer{
    margin-top: 10%;
    height:60rem;
 }
 footer .reviews-section{
    margin-top:-70%;
 }
 .reviews-section h5{
    margin-left: 30px;
 }
 footer .horaires-section {
    margin-top: -80%;
 }
 .horaires-section h5{
    margin-left: 22%;
 }
 .contact-infos{
    margin-top: -20%;
    margin-left: 40px;
 }
 .btn.footer{
    margin-left:30%;
    MARGIN-TOP: -2px;
 }

 #user_name , #user_review{
    margin-left: -25%;
    margin-bottom: 20px;;

 }
 .container_reviews {
    margin-left: 0;
 }
 .container_reviews .card{
    width: max-content;
    height: 370px;
    margin-bottom: 30px;
    margin: 0 10px;
 }
 .container_reviews h3{
    margin-top: -20px;
    width: 23rem;
    margin-left: 10px;
 }
 .content_header p{
    font-size: 1rem;
 }
 #Accueil_avis{
   
    margin-top: -10%;
 }
 .form-container{
    margin-top: -15%;
 }
 #back_contact, #back_car{
    margin: 7.5rem;
 }
 #save_review{
    margin-left: -45%;
    width: 50%;
 }
 .filter .card{
    margin-left: -4px;
 }
 #carouselExampleIndicators{
    width: 25rem;
    margin-left: 5px;
 }
 .table_car{
    margin-left: -30%;
    margin-top: 10px;
    width: 100%;
 }
 #title_vehicules{
    display:none;
 }
 #title_cars{
    font-size: 1.7rem;
 }
 .back_contact{
    margin: 7.5rem;
 }
 #prix_range,#kilometrage_range,#année_range{
    margin-bottom:20px;
 }
 .content_header p{
    display: none;
 }
 .card_car{
    margin-left:12px;
 }
 .list-group{
    margin-left: 0;
   }
   .footer_car{
    height:100rem;
   }
   .horaires-section_car{
    margin-top: -120%;
    margin-left: 26px;
   }
   .horaires-section_car h5{
    margin-left: 20%;
   }
   .reviews-section_car{
    margin-top: -75%;
   }
   .reviews-section_car h5{
    font-size: 1.9rem;
    margin-left: 30px;
   }
  footer span.copyright{
margin-top: -120%;
color: var(--main-color);
   }
   .footer_car span.copyright{
    color: var(--main-color);

   }
   .titre_login{
    margin-top: 20%;
   }
   .pannel_admin{
    margin-right: 40%;
   }
   .dashboard-title{
    margin-left: 45%;
   }
}