*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration:none;
}
/*Variables*/
:root{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;
    --bg-box: #80808037;
}
/*header starts*/
header{
    display:block;
    width:100%;
    height: 160px;
    background: var(--bg-color);
    position: fixed;
    top:-35px;
    left:0;
    z-index:100;
    box-shadow: 5px 5px 15px -1px #808080;
}
.nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    display:flex; 
}

.nav a {
    padding: 8px 17px;
    color: var(--text-color);
    font-size:1.5rem;
    text-transform:uppercase;
    text-decoration: none;
}
.nav a:hover{
    transform: scale(1.1); 
    transition:0.2s;
    color:var(--main-color);   
}
.btn{
    padding: 8px 25px;
    background-color:var(--main-color);
    color:var(--bg-color);
    border-radius: 5rem;
    font-size: 1.3rem;
   
}
.btn:hover{
    transform:scale(1.1);
    transition: 0.2s;
    background-color:var(--second-color);
    color: var(--bg-color);
}
/* header ends */
/* home starts */
.home{
    margin-top:5rem;
   
}
h2{
    margin-left: 8rem;
     text-align: center;
     color:var(--main-color);
     font-size: 2rem;
     background-color: var(--bg-box);
     display:block;
     width:80%;
 }

/* home ends */
/* registre_page starts */
.form-container{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:20px; 
    background: #eee; 
   
}
.form-container form{
   padding: 20px;
   border-radius:5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background:white;
   text-align:center;
   width:500px;
}
.form-container form input,
.form-container form select{
    width:100%;
    padding:10px 15px;
    font-size:20px;
    margin:8px 0;
    background: #eee;
}
.form-container form select option{
    background: white;
   
}
.form-btn{
    background-color: blue;
    
}
.form-container form a {
    text-decoration: none;
}
.error-msg{
    color:white;
    margin:10px 0;
    display: block;
    background-color: red;
    font-size: 20px;
}
/* registre_page ends */
/* Crousel starts */
.carousel{
    display:flex;
    gap: 20px;
}
.card-group{
    display: flex;
    gap: 20px; 
     
}