*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
    text-decoration:none;
}
/* registre_page starts */
.form-container{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:20px; 
    background: #eee; 
   
}
.form-container form{
   padding: 20px;
   border-radius:5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background:white;
   text-align:center;
   width:500px;
}
.form-container form input,
.form-container form select{
    width:100%;
    padding:10px 15px;
    font-size:20px;
    margin:8px 0;
    background: #eee;
}
.form-container form select option{
    background: white;
   
}
.form-btn{
    background-color: blue;
    
}
.form-container form a {
    text-decoration: none;
}
.error-msg{
    color:white;
    margin:10px 0;
    display: block;
    background-color: red;
    font-size: 20px;
}



/* registre_page ends */